@font-face {
  font-family: "boldOblique";
  src: url("../assets/fonts/FreeMonoBoldOblique.ttf") format('truetype');
}

@font-face {
  font-family: "cursif";
  src: url("../assets/fonts/Cursif.ttf") format('truetype');
}

@font-face {
  font-family: "engravers";
  src: url("../assets/fonts/ENGR.ttf") format('truetype');
}

@font-face {
  font-family: "fa";
  src: url("../assets/font-awesome-4.7.0/fonts/fontawesome-webfont.ttf") format('truetype');
}

html {
  font-family: "boldOblique", "Bitstream Vera Serif", serif;
}
